# Ignore large datasets
training.1600000.processed.noemoticon.csv

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore pickle and model files (except the 3-class production model)
*.pkl
!model_pipeline_3class.pkl
*.h5

# Ignore Jupyter and log files
*.ipynb
*.log
